@gb-red: #ec1f27;
@gb-black: black;

@font-face {
    font-family: 'Spoiler-Regular';
src: url('../fonts/Spoiler-Regular.woff') format('woff'), url('../fonts/Spoiler-Regular.ttf') format('truetype');}


body {
    background-color: @gb-black;
}
// * { border: 1px solid greenyellow; }

#gb-logo { 
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}
li{
    display: inline;
    margin-top: 15px;
    font-size: 20px;
                        font-family: 'Spoiler-Regular';

            a {
                color: white;
                text-decoration: none;

            }

            a:hover {
            color: @gb-red;
            text-decoration: none;

            }
}


.line {
    color: @gb-red;
}

#navBar {
    margin-top: 40px;
    margin-right: 35px;
    max-width: 450px;

}


.col-md-2{
    padding-top: 40px;
    min-height: 150px;
    background-color: @gb-black;
    }
    
        .col-md-2:hover{
            min-height: 150px;
            background-color: @gb-red;
            height: 100px;

            img{
            display: none;}

            p{
                display: inline;
                    text-align: center;
                    font-family: 'Spoiler-Regular';
                    margin: 0 auto;

                
            }

        }


    

#logos {
    height: 100px;

}

    .Plogos {
        margin: 0 auto;
        max-height: 60px;         
}
  
.over-logo {
                        margin: 0 auto;

    min-height: 150px;
     text-align: center;
    font-size: 20px;
    color: white;
    display: none;
    font-family: 'Spoiler-Regular';



}


