@gb-red: #ec1f27;
@gb-black: black;

body {
    background-color: @gb-black;
}
* { border: 1px solid greenyellow; }

#gb-logo { 
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}
li{
    display: inline;
    margin-top: 15px;
    font-size: 17px;
            a {
                color: white;
                text-decoration: none;

            }

            a:hover {
            color: @gb-red;
            text-decoration: none;

            }
}


.line {
    color: @gb-red;}

#navBar {
    margin-top: 40px;
    margin-right: 35px;
    max-width: 450px;

}

    .logos {
        max-height: 60px;
        img {
        margin: auto;

        }
        
        
    }
    
    .col-md-2{
        min-height: 50px;
    }

#logos {
    margin-top: 20px;
}